MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=your_password
MYSQL_DATABASE=purchase_pro

PRODUCT_URL=https://rtjgfsc.rtjzj.com/pages/tabBar/shop/shop

POLL_INTERVAL_SECONDS=5
HEADLESS=true

# 根据页面结构按需调优
CATEGORY_TAB_SELECTOR=.tab-item, .category-item
PRODUCT_CARD_SELECTOR=.goods-item, .product-item, .item
NAME_SELECTOR=.goods-name, .product-name, .title
PRICE_SELECTOR=.price, .goods-price, [class*='price']
STOCK_SELECTOR=.stock, .inventory, [class*='stock'], [class*='inventory']
