MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=your_password
MYSQL_DATABASE=purchase_pro

PRODUCT_URL=https://rtjgfsc.rtjzj.com/pages/fl/shopDetail/shopDetail?id=1346&product_type=0
PRODUCT_ID=1346

POLL_INTERVAL_SECONDS=5
HEADLESS=true

# CSS selectors can be tuned after you inspect the page
NAME_SELECTOR=.goods-name, .product-name, h1
PRICE_SELECTOR=.price, .goods-price, [class*='price']
AVAILABILITY_SELECTOR=.stock, .inventory, .buy-btn, .button
